name: Compile Arduino Sketch

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Compile sketch
        uses: arduino/compile-sketches@v1
        with:
          fqbn: esp32:esp32:esp32s3

          platforms: |
            - name: esp32:esp32
              source-url: https://raw.githubusercontent.com/espressif/arduino-esp32/gh-pages/package_esp32_index.json

          libraries: |
            - name: ESP32Servo
            - name: MPU6050
            - name: HMC5883L
            - name: Adafruit BMP280 Library
            - name: TinyGPSPlus

          sketch-paths: |
            ./Done.ino

          verbose: true
